header {background-color: rgba(240, 248, 255, 0.16);}
.titre {color: red; text-align: center; font-size: 500%;}
.footer {color: aqua; text-align: center; font-size: 75%; background-color: rgba(128, 128, 128, 0.575);}
li {font-size: 110%; color: black;}
li>a {color: cadetblue;}
section{border-style: solid; border-color: rebeccapurple; border-width: thin; margin: 10px;}
section>h2 {color: blue; font-style: italic; text-decoration: underline;}
img {vertical-align: middle;}